/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h2 {
    color: #343a40;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #007bff;
    color: white;
}

/* Botões */
button,
.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover,
.btn:hover {
    background-color: #0056b3;
}

/* Cabeçalho */
header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header > div {
    margin-right: 1rem; /* Espaçamento entre o título e o botão */
}

#menuToggle {
    font-size: 1.5rem;
    padding: 0.5rem;
}

/* Menu Lateral */
#sidebarMenu {
    position: absolute;
    top: 84px; /* Abaixo do cabeçalho */
    left: 0;
    width: 200px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease;
    height: auto;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
}

#sidebarMenu.collapsed {
    transform: translateX(-100%);
}

#sidebarMenu ul li a {
    color: #333;
    font-weight: bold;
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
}

#sidebarMenu ul li a:hover {
    background-color: #e9ecef;
    color: #007bff;
}

#sidebarMenu.animate__animated{
    animation-duration: 0.5s;
}